.guest-size{

    position: absolute;
    display: flex;
    width: 152px;
    height: 282px;
    background-color: #ffffff;
    flex-direction: column;
    border-top: 5px solid;
    border-color: #e31f3d;
    height: fit-content;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    top: 635px;
    right: 630px;

    .name{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        padding: 8px 8px;
        cursor: pointer;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        background-color: white;

        &:hover{
            // opacity: 0.08;
            // color: black;
            background-color: #FCEDEF;

        }
    }
}