
@font-face{
  src: url('../src/fonts/Proxima Nova Regular.otf');
  font-family: ProximaNova;
}
@font-face{
 
  src: url('../src/fonts/Proxima Nova Light.otf');
  font-family: ProximaNovaLight;
}

body {
  margin: 0;
  font-family: ProximaNovaLight;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

}

/* 
@font-face{
  font-family: "ProximaNova";
  src: url('./fonts/Mark Simonson - Proxima Nova Regular.otf') format('otf');
  src: local('ProximaNova'), local('Proxima Nova');
} */