
@font-face{
    src: url('../../fonts/Proxima Nova Regular.otf');
    font-family: ProximaNova;
}
@font-face{
    src: url('../../fonts/Proxima Nova Light.otf');
    font-family: ProximaNovaLight;
}
// 1255 - 801
.banner{
    // background: url("/images/hero-header@2x.png")  no-repeat;
    width: 100%;
    display: flex;
    flex-direction: inherit;
    align-items: center;
    
    justify-content: flex-start;

    .inner{
        width: 100%;
        z-index: 9;
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;

        .image{
            
            background-size: contain;
            width: 100%;
            background-position: center;
          
           
        }
    }

    

    .react-calendar{
        height: 368px;
        width: 380px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
        border-top: 5px solid #e31f3d;
        border-left: solid 0.5px #e2e2e2;
        border-right: solid 0.5px #e2e2e2;
        border-bottom: solid 0.5px #e2e2e2;
        background-color: #ffffff;
        margin-top: 34px;
    margin-left: -250px;
        // top: 635px;
        // right: 460px;
        z-index: 10;

        .react-calendar__tile--now {
            width: 40px;
            height: 40px;
            border: solid 2px #e31f3d;
            border-radius: 0;
            background-color: #ffffff;

          }

          .react-calendar__tile--active {
            width: 50px;
            height: 50px;
            background: #ffffff;
            border: solid 2px #e31f3d;
            border-radius: 50%;
            
            color: black; 
            
          }

          .react-calendar__month-view__days__day--weekend {
            color: black;
          }
          .react-calendar__month-view__days__day--neighboringMonth {
            display: none;
          }

          .react-calendar__month-view__weekdays {
            text-align: center;
            margin-bottom: 10px;
            font-family: ProximaNova;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
            color: #757575;
            }
        }

    .banner-details{

        background-color: #ffffff;
        width: 50%;
        height: 30%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        // z-index: 10;
        bottom: 100px;
        padding: 20px;
        

        .bannerDesc{
        
            font-family: ProximaNovaLight;
            font-size: 36px;
            font-weight: 300;
            text-align: left;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: normal;
            color: #000000;
        }

        .form{
            padding-left: 10px;
            height: 50px;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
            border: solid 0.5px #e2e2e2;
            background-color: #ffffff;


            // span{

            //     // margin-top:0; 
            //     color:#e2e2e2;
            //     font-size: 30px;
            //      margin-right:10px;
            //       position:relative;
            //        top:5;
            // }
            .search-btn{
                height: 50px;
                width: '80px';
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

   
}

// @media screen and (max-width: 1255px) and (min-width: 801px){


// }

@media screen and (max-width: 1255px) and (min-width: 501px){

    .banner{

        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;

         .react-calendar{
        height: 368px;
        width: 380px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
        border-top: 5px solid #e31f3d;
        border-left: solid 0.5px #e2e2e2;
        border-right: solid 0.5px #e2e2e2;
        border-bottom: solid 0.5px #e2e2e2;
        background-color: #ffffff;
        margin-top: 34px;
    margin-left: -250px;
        // top: 635px;
        // right: 460px;
        z-index: 10;

        .react-calendar__tile--now {
            width: 40px;
            height: 40px;
            border: solid 2px #e31f3d;
            border-radius: 0;
            background-color: #ffffff;

          }

          .react-calendar__tile--active {
            width: 50px;
            height: 50px;
            background: #ffffff;
            border: solid 2px #e31f3d;
            border-radius: 50%;
            
            color: black; 
            
          }
          
          .react-calendar__month-view__days__day--weekend {
            color: black;
          }
          .react-calendar__month-view__days__day--neighboringMonth {
            display: none;
          }

          .react-calendar__month-view__weekdays {
            text-align: center;
            margin-bottom: 10px;
            font-family: ProximaNova;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: center;
            color: #757575;
            }
        }


     .inner{

        width: 100%;
        // height: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;

        .image{

            
            height: 400px;
            background-size: contain;
            background-position: center;
           
        }

       
    .banner-details{
        background-color: #ffffff;
        width: 80%;
        height: fit-content;
        // position: absolute;
        display: flex;
        align-self: center;
        flex-direction: column;
        // z-index: 10;
        top:270px;
        // margin-bottom: 100px;
        padding: 20px;
        
        
        }

        .bannerDesc{
        
            font-family: ProximaNovaLight;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 10px;
            text-align: left;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: normal;
            color: #000000;
        }

        .form{
            padding-left: 10px;
            height: 50px;
            flex-shrink: inherit;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
            border: solid 0.5px #e2e2e2;
            background-color: #ffffff;


           

            .search-btn{
                height: 50px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
   
    }
   }

   
@media screen and (max-width: 500px) {

    .banner{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .react-calendar{
            height: 368px;
            width: 380px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
            border-top: 5px solid #e31f3d;
            border-left: solid 0.5px #e2e2e2;
            border-right: solid 0.5px #e2e2e2;
            border-bottom: solid 0.5px #e2e2e2;
            background-color: #ffffff;
            margin-top: 34px;
        margin-left: -250px;
            // top: 635px;
            // right: 460px;
            z-index: 10;
    
            .react-calendar__tile--now {
                width: 40px;
                height: 40px;
                border: solid 2px #e31f3d;
                border-radius: 0;
                background-color: #ffffff;
    
              }
    
              .react-calendar__tile--active {
                width: 50px;
                height: 50px;
                background: #ffffff;
                border: solid 2px #e31f3d;
                border-radius: 50%;
                
                color: black; 
                
              }
              
              .react-calendar__month-view__days__day--weekend {
                color: black;
              }
              .react-calendar__month-view__days__day--neighboringMonth {
                display: none;
              }
    
              .react-calendar__month-view__weekdays {
                text-align: center;
                margin-bottom: 10px;
                font-family: ProximaNova;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: #757575;
                }
            }
    


     .inner{

        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;

        .image{

            width: 100%;
            background-size: contain;
            // margin-left: 50px;
            height: 400px;
           
        }

       
    .banner-details{
        background-color: #ffffff;
        width: 85%;
        height: fit-content;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        // position: absolute;
        display: flex;
        flex-direction: column;
        // z-index: 10;
        bottom: 300px;
        padding: 10px 10px;
        
        
        
        }

        .bannerDesc{
        
            font-family: ProximaNovaLight;
            font-size: 20px;
            font-weight: 300;
            text-align: left;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: normal;
            color: #000000;
        }

        .form{
            padding-left: 10px;
            height: 50px;
            flex-shrink: inherit;
            width: 100%;
            align-items: center;
            display: flex;
            margin-bottom: 10px;

            flex-direction: row;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
            border: solid 0.5px #e2e2e2;
            background-color: #ffffff;


            .search-btn{
                height: 50px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
   
    }
   }

